# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Images
*.jpg
*.jpeg
*.png
*.gif
*.ico
*.svg
*.bmp
*.tiff
*.webp
*.pdf

# Model files and data
# *.pth
# *.pt
# *.pkl
*.npy
*.npz
*.h5
*.hdf5
*.pb
*.onnx
*.tflite
*.lite
*.tfrecords
saved_models/
models/
weights/
checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific directories
# antrenare/
evaluare/
data/
testare/
validare/